# Haskell
.conf
*.o
*.hi
*.chi
*.chs.h
*.imports

# Dirs
bin
dist
vendor
.stack-work
.direnv
result

# CTAGS
TAGS
tags

# Emacs/Vim
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.org
.projectile

# OSX
.DS_Store

# Certificates
*.pem

# Go
*.go

# Direnv
.env

# Git pre-commit hooks
/.pre-commit-config.yaml
