# Haskell
.conf
*.o
*.hi
*.chi
*.chs.h
*.imports

# Dirs
.direnv
.stack-work
bin
dist
dist-newstyle
result
vendor

# CTAGS
TAGS
tags

# Emacs/Vim
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.org
.projectile

# OSX
.DS_Store

# Certificates
*.pem

# Go
*.go

# Direnv
.env

# Git pre-commit hooks
/.pre-commit-config.yaml
